<h1>Blog Titles</h1>
  <ul>
  <h3>Click on the title you would like to read more about</h3>
    <% @blogs.each do |blog| %>
    <li>
    
    <%= link_to blog.title, blog_path(blog) %>
    </li>
    <% end %>
  </ul>
  <br/>
  
  <p><%= link_to 'Create a New Blog', new_blog_path %></p>